@model IEnumerable<Mupadoodle1.Models.Location>


@{
    ViewBag.Title = "ReadSampleFile";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<table>
    <tr>
        <th>
            Latitude
        </th>
        <th>
           Longitude
        </th>
        <th>
           Name
            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.theLong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.theLat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.theName)
        </td>
    </tr>
}
</table>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Go Back Home Dude", "Index", "Home")</li>
    </ul>
</aside>